<ion-header>
  <ion-navbar>
    <ion-title>
      Fill the Item
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addItemsForm">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="itemTitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Picture</ion-label>
      <ion-avatar item-end>
        <img src="{{ imgPreview }}" (click)="getPhoto()" width="50" style="float:right; border-radius: 100%;">
      </ion-avatar>
    </ion-item>
    <button ion-button (click)="submitForm()" type="submit">Add Item</button>
  </form>

  <ion-list *ngIf="items?.length > 0">
    <ion-item *ngFor="let item of items">

    </ion-item>
  </ion-list>
</ion-content>